{{ content|safe }}
<div class="column-sidebar sidebar-baru">
  {% if index_page %}
  <a style="margin-left: -0.85px;z-index:13" href="#index-page">
    <svg width="19" height="45" viewBox="0 0 19 45" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_446_53414)">
    <path d="M0.78743 0V43.0502L10.0325 37.7879C13.8441 35.6185 16.2314 31.3364 16.2314 26.6693L16.2314 16.3809C16.2314 11.7138 13.8441 7.43173 10.0325 5.2623L0.78743 0Z" fill="#F8F6EF"/>
    </g>
    <circle cx="8.5087" cy="21.6217" r="2.08827" transform="rotate(91.1833 8.5087 21.6217)" fill="#614F41"/>
    <circle cx="8.50891" cy="21.6217" r="4.08812" transform="rotate(90 8.50891 21.6217)" stroke="#614F41" stroke-width="0.511026"/>
    <defs>
    <filter id="filter0_d_446_53414" x="0.787109" y="-1.1583" width="18.5331" height="46.139" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="1.5444" dy="0.3861"/>
    <feGaussianBlur stdDeviation="0.772201"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_446_53414"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_446_53414" result="shape"/>
    </filter>
    </defs>
    </svg>

  </a>
  {% else %}
  <a style="z-index:13" href="#index-page">
    <svg width="19" height="45" viewBox="0 0 19 45" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_547_3896)">
    <path d="M0.000320673 0V43.0502L9.24543 37.7879C13.057 35.6185 15.4443 31.3364 15.4443 26.6693L15.4443 16.3809C15.4443 11.7138 13.057 7.43173 9.24543 5.2623L0.000320673 0Z" fill="#EAE0D6"/>
    </g>
    <mask id="mask0_547_3896" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="44">
    <path d="M0.000320673 0L0.000320673 43.0502L9.24543 39.9621C13.057 38.6889 15.4443 36.1761 15.4443 33.4372L15.4443 9.61298C15.4443 6.87413 13.057 4.36125 9.24543 3.08814L0.000320673 0Z" fill="#DAD6C9"/>
    </mask>
    <g mask="url(#mask0_547_3896)">
    <rect x="2.70312" y="-0.113281" width="43.1635" height="2.7027" transform="rotate(90 2.70312 -0.113281)" fill="url(#paint0_linear_547_3896)" fill-opacity="0.2"/>
    </g>
    <circle cx="7.72159" cy="21.6219" r="2.08827" transform="rotate(91.1833 7.72159 21.6219)" fill="#A0907F"/>
    <circle cx="7.7218" cy="21.622" r="4.08812" transform="rotate(90 7.7218 21.622)" stroke="#A0907F" stroke-width="0.511026"/>
    <defs>
    <filter id="filter0_d_547_3896" x="0" y="-1.1583" width="18.5331" height="46.1391" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="1.5444" dy="0.3861"/>
    <feGaussianBlur stdDeviation="0.772201"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_547_3896"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_547_3896" result="shape"/>
    </filter>
    <linearGradient id="paint0_linear_547_3896" x1="24.2234" y1="3.74772" x2="24.2234" y2="-0.113281" gradientUnits="userSpaceOnUse">
    <stop/>
    <stop offset="1" stop-color="#666666" stop-opacity="0"/>
    </linearGradient>
    </defs>
    </svg>
</a>
  {% endif %}
  {% for sidebar_bulan in sidebar_bulan_list %}
  {% if date %}
    {% if sidebar_bulan[0][7] == date.strftime('%b').upper() %}
    <a style="margin-left: -0.85px;z-index:999" class="svg-baru-banget" href="#{{sidebar_bulan[0][8]}}-month-overview">
      <div class="grid-baru">
          <div class="layer1 flex items-center">
                <div class="kotak-aktif sidebar-cont"></div>
            </div>
          <div class="layer2 flex items-center">
              <div class="sidebar-text">
                  <div style="color:#614F41; font-size:7.72px;">
                      {{sidebar_bulan[0][7]}}
                  </div>
              </div>
          </div>
      </div>
  </a>
  {% else %}
  <a style="z-index:{{13 - loop.index}}" class="svg-baru-banget" href="#{{sidebar_bulan[0][8]}}-month-overview">
      <div class="grid-baru">
        <div class="layer1 flex items-center">
                <div class="kotak-non-aktif sidebar-cont"></div>
            </div>
          <div class="layer2 flex items-center">
              <div class="sidebar-text">
                  <div style="color:#A0907F; font-size:7.72px;text-align:center">{{sidebar_bulan[0][7]}}
                  </div>
              </div>
          </div>
      </div>
  </a>
  {% endif %}
  {% else %}
  <a style="z-index:{{13 - loop.index}}" class="svg-baru-banget" href="#{{sidebar_bulan[0][8]}}-month-overview">
      <div class="grid-baru">
          <div class="layer1 flex items-center">
                        <div class="kotak-non-aktif sidebar-cont"></div>
                    </div>
          <div class="layer2 flex items-center">
              <div class="sidebar-text">
                  <div style="color:#A0907F; font-size:7.72px;text-align:center">{{sidebar_bulan[0][7]}}
                  </div>
              </div>
          </div>
      </div>
  </a>
  {% endif%}
  {% endfor %}
</div>
<div class="footer">
    <div class="footer-teks"><span style="font-size: 5px">&#169 </span>LARASNUGH</div>
</div>
</div>