<div class="letter-page break-after-page relative" id="other-cleaning">
    <div class="column-main flex flex-col">
        <h1>CLEANING ROUTINE</h1>
        <div style="padding-top: 20px;" class="cleaning"></div>
    </div>