<div class="letter-page break-after-page relative" id="other-skincare">
    <div class="column-main flex flex-col">
        <h1>SKINCARE</h1>
        <div style="padding-top: 20px;" class="skincare"></div>
    </div>