    <div class="letter-page break-after-page relative" id="other-habit">
        <div class="column-main flex flex-col">
            <h1>HABIT TRACKER</h1>
            <div style="padding-top: 20px;" class="habit"></div>
        </div>