    <div class="letter-page break-after-page relative" id="other-album3">
        <div class="column-main flex flex-col">
            <h1>MY JOURNEY IN PHOTO</h1>
            <div style="padding-top: 37px;" class="album3"></div>
        </div>