<div class="letter-page break-after-page relative" id="other-password">
    <div class="column-main flex flex-col">
        <h1>PASSWORD</h1>
        <div style="padding-top: 20px;" class="password"></div>
    </div>