    <div class="letter-page break-after-page relative">
        <div class="column-main-kolom3 flex flex-col">
            <div class="header-kolom3">
                <h1 style="font-size:19px; text-align:left">JANUARY</h1>
                <div class="index-kolom3">
                    <div class="isian-index-kolom3">
                        OVERVIEW
                    </div>
                    <div class="
                        isian-index-kolom3">|</div>
                    <div style="font-weight: bold;" class="
                        isian-index-kolom3">CHECK-IN</div>
                    <div class="
                        isian-index-kolom3">|</div>
                    <div class="
                        isian-index-kolom3">MEAL PLANNER</div>
                </div>

                <div class="index-kolom5">
                    <div style="font-weight: bold;color:#614F41" class="isian-index-kolom5">W1</div>
                    <div class="isian-index-kolom5">W2</div>
                    <div class="isian-index-kolom5">W3</div>
                    <div class="isian-index-kolom5">W4</div>
                    <div class="isian-index-kolom5">W5</div>
                </div>
            </div>
            <div class="atas-container">
                <div class="week-checkin"></div>
            </div>

        </div>