    <div class="letter-page break-after-page relative" id="W{{iter+1}}-{{ month.strftime('%B').lower()}}-week-checkin">
        <div class="column-main-kolom3 flex flex-col">
            <div class="header-kolom3">
                <h1 style="font-size:19px; text-align:left">{{ month.strftime('%B').upper() }}</h1>
                <div class="index-kolom3">
                    <a class="isian-index-kolom3" href="#W{{iter+1}}-{{ month.strftime('%B').lower()}}-week-overview">
                        OVERVIEW
                    </a>
                    <div class="
                        isian-index-kolom3">|</div>
                    <a style="font-weight: bold;" class="
                        isian-index-kolom3" href="#W{{iter+1}}-{{ month.strftime('%B').lower()}}-week-checkin">CHECK-IN</a>
                    <div class="
                        isian-index-kolom3">|</div>
                    <a class="
                        isian-index-kolom3" href="#W{{iter+1}}-{{ month.strftime('%B').lower()}}-week-meal">MEAL PLANNER</a>
                </div>

                <div class="index-kolom5">
                    {% for i in range(5)%}
                    {%if (iter+1) == (loop.index)%}
                    <a style="font-weight: bold;color:#333333" class="isian-index-kolom5" href="#W{{loop.index}}-{{ month.strftime('%B').lower()}}-week-overview">W{{loop.index}}</a>
                    {% else %}
                    <a class="isian-index-kolom5" href="#W{{loop.index}}-{{ month.strftime('%B').lower()}}-week-overview">W{{loop.index}}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="atas-container">
                <div class="week-checkin"></div>
            </div>

        </div>