<div class="letter-page break-after-page relative" id="yearly-vision">
        <div class="column-vision-board-yearly flex flex-col">
            <h1>VISION BOARD</h1>
            <h2 class="subheading-vision-board">YEAR</h2>
            <div class="vision-board-year-container">
            </div>
            <div class="month-hyperlink-horizontal grid-cols-12">
                {% for mini_cal in mini_cal_list %}
                <a class="month-hyperlink-horizontal-element" href="#{{mini_cal[0][8]}}-vision" >{{mini_cal[0][7]}}</a>
                {% endfor %}
            </div>
        </div>