@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: 612px 792px;
  margin: 0;
  padding: 0;
}

@layer base {
  h1 {
    @apply font-roundark text-center tracking-5;
    font-weight: 400;
    color: #333333;
    font-size: 28.53px;
  }
  h2 {
    @apply font-roundark text-center tracking-5;
    font-weight: 400;
    color: #333333;
    font-size: 11.58px;
  }
}

@layer components {
  .letter-page {
    @apply bg-[#FFFFFF] overflow-hidden flex;
    width: 612px;
    height: 792px;
  }
  .letter-page-margined {
    @apply bg-[#FFFFFF] overflow-hidden flex;
    margin-left: 19px;
    margin-right: 19px;
    width: 612px;
    height: 792px;
  }

  .column-main {
    width: 594px;
    padding-top: 28px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }

  .column-other {
    width: 594px;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }

  .column-vision-board-yearly {
    width: 594px;
    padding-top: 16px; /* berbeda karena ada subheading */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }

  .sidebar-baru {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px 0px;
  }

  .kotak-aktif-container {
    display: -webkit-flex;
    align-items: center;
  }
  .svg-baru {
    margin-top: -40.5px;
  }

  .column-sidebar {
    width: 17.43px;
    @apply relative flex flex-col;
  }

  .svg-container {
    display: flex;
    flex-direction: column;
  }

  .svg-item {
    position: absolute;
  }
  .svg-item:nth-child(1) {
    margin-top: 0px;
    z-index: 13;
  }
  .kotak-non {
    width: 15.44px;
    height: 73.36px;
    background-color: #F8F8F8;
    border-radius: 0px 30px 30px 0px;
  }
  .kotak-ak {
    width: 15.44px;
    height: 73.36px;
    background-color: #FFFFFF;
    border-radius: 0px 30px 30px 0px;
  }
  .svg-item:nth-child(2) {
    z-index: 12;
    top: 32px;
  }

  .svg-item:nth-child(3) {
    z-index: 11;
    top: 94px; /* Adjust this value as needed */
  }

  .svg-item:nth-child(4) {
    z-index: 10;
    top: 156px; /* Adjust this value as needed */
  }
  /* REPEAT UNTIL CHILD 13 WITH TOP IS ++60 */
  .svg-item:nth-child(5) {
    z-index: 9;
    top: 219px;
  }
  .svg-item:nth-child(6) {
    z-index: 8;
    top: 281px;
  }
  .svg-item:nth-child(7) {
    z-index: 7;
    top: 343px;
  }
  .svg-item:nth-child(8) {
    z-index: 6;
    top: 406px;
  }
  .svg-item:nth-child(9) {
    z-index: 5;
    top: 468px;
  }
  .svg-item:nth-child(10) {
    z-index: 4;
    top: 530px;
  }
  .svg-item:nth-child(11) {
    z-index: 3;
    top: 593px;
  }
  .svg-item:nth-child(12) {
    z-index: 2;
    top: 655px;
  }
  .svg-item:nth-child(13) {
    z-index: 1;
    top: 717px;
  }

  .letter-content {
    @apply p-6;
  }

  .letter-section {
    @apply mb-6;
  }

  .letter-heading {
    @apply text-xl font-semibold mb-4;
  }

  .letter-paragraph {
    @apply text-gray-700;
  }

  .letter-list {
    @apply list-disc list-inside text-gray-700;
  }

  .footer {
    position: absolute;
    bottom: 5px;
    left: 48.5%;
    transform: translateX(-50%); /* Center horizontally */
  }

  .footer2 {
    position: absolute;
    bottom: 15px;
    left: 30%;
    transform: translateX(-50%); /* Center horizontally */
  }

  .divider {
    width: 100%;
    border-top: 1px solid #333333; /* Adjust the color and width as needed */
    margin-top: 5px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px 93px;
    margin-top: 25px;
  }

  .calendar-element-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42.5px 39px;
    margin-top: 48px;
  }

  .monthly-index-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;
    margin-top: 8px;
  }
  .others-notes-grid-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 8px;
    margin-top: 10px;
  }
  .yearly-grid-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 8px;
    margin-top: 10px;
  }

  .grid-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 40px;
    margin-top: 50px;
  }

  .vision-edisibulan {
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 30px;
    width: 100%;
    margin-top: 13px;
    margin-left: 0px;
    margin-right: 7px;
  }
  .vision-edisibulan-element {
    font-weight: 400;
    font-size: 7.5px;
    color: #9A9A9A;
    font-family: "Action Sans", sans-serif;
    @apply text-left tracking-5;
  }

  .month-hyperlink-horizontal {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 31.5px;
    margin-top: 15px;
  }
  .month-hyperlink-horizontal-element {
    font-weight: 400;
    font-size: 7.5px;
    color: #9A9A9A;
    font-family: "Action Sans", sans-serif;
    @apply text-center tracking-5;
  }

  .project-container {
    width: 100%;
    height: 16px;
    border-bottom: 0.5px solid #9A9A9A;
    display: flex;
    align-items: center;
  }

  .monthly-index {
    width: 95px;
    height: 75px;
  }

  .calendar-element-page {
    width: 153px;
    height: 121px;
  }

  .projects-note-index {
    width: 148px;
    height: 184px;
  }

  .others-index {
    width: 148px;
    height: 87px;
  }

  .yearly-index {
    width: 148px;
    height: 47px;
  }

  .new-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 40px;
    margin-top: 50px;
  }

  .kolom-overview {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 27px;
  }

  .kolom-daily {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 23px;
  }

  .kolom-checkin {
    position: absolute;
    bottom: 17px;
    left: 72%;
    transform: translateX(-50%);
  }

  .index-tenggara {
    padding-bottom: 6.5px;
    padding-right: 14.29px;
    padding-left: 14.29px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 7px 28px;
  }

  .new-grid .others-index:nth-child(1),
  .new-grid .others-index:nth-child(2) {
    grid-column: 1;
  }

  .new-grid .projects-note-index:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .new-grid .projects-note-index:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .inside-calendar-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .month-calendar-grid {
    display: grid;
    gap: 7.6px 7.2px;
  }

  .week-calendar-grid {
    min-width: 0;
    display: grid;
    gap: 7.6px;
  }

  .others-link-container {
    width: 44px;
    height: 20px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .yearly-link-container {
    width: 68;
    height: 20px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .regular-index {
    font-size: 6.66px;
    color: #333333;
    text-align: center;
    font-family: "Action Sans";
    @apply tracking-5;
  }
  .footer-font {
    font-size: 4.55px;
    color: #9A9A9A;
    font-family: "Action Sans";
    @apply tracking-5;
  }

  .font-calendar-week {
    font-weight: bold;
    font-size: 8.22px;
    color: #333333;
    font-family: "Action Sans", sans-serif;
  }

  .font-calendar-isian {
    font-weight: normal;
    font-size: 8.22px;
    color: #333333;
    font-family: "Action Sans", sans-serif;
  }

  .judul-calendar-month {
    @apply font-roundark text-center tracking-5;
    font-weight: 400;
    color: #333333;
    font-size: 15px;
  }

  .subheading-vision-board {
    margin-top: -10px;
    font-weight: medium;
    font-size: 14px;
    color: #333333;
    font-family: "Action Sans", sans-serif;
    @apply text-center tracking-10;
  }

  .vision-board-year-container {
    margin-top: 10px;
    width: 551px;
    height: 666px;
    border: 1px solid #333333;
  }

  .vision-board-month-container {
    margin-top: 37px;
    width: 100%;
    height: 666px;
    border: 1px solid #333333;
    padding-right: 7px;
    padding-left: 7px;
  }

  .column-main-kolom3 {
    width: 594px;
    padding-top: 15px;
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    flex-direction: column;
  }

  .isian-index-kolom1 {
    font-weight: bold;
    font-size: 7.72px;
    color: #333333;
    font-family: "Action Sans", sans-serif;
    @apply text-left;
  }
  .isian-index-kolom3 {
    font-weight: normal;
    font-size: 7.72px;
    color: #333333;
    font-family: "Action Sans", sans-serif;
    @apply text-center;
  }

  .isian-index-kolom5 {
    font-weight: normal;
    font-size: 7.72px;
    color: #9A9A9A;
    font-family: "Action Sans", sans-serif;
    @apply text-right;
  }

  .isian-index-bawah {
    font-weight: normal;
    font-size: 7.72px;
    color: #333333;
    font-family: "Action Sans", sans-serif;
    @apply text-center tracking-5;
  }

  .isian-index-bawah-samping {
    font-weight: normal;
    font-size: 7.72px;
    color: #9A9A9A;
    font-family: "Action Sans", sans-serif;
    @apply text-center tracking-5;
  }

  .index-kolom1 {
    display: grid;
    grid-template-columns: repeat(1, auto);
    height: 18px;
    margin-top: 6px;
  }

  .index-kolom3 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    height: 12px;
    margin-top: 9px;
  }

  .index-kolom2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 94px;
    margin-left: 42px;
    margin-top: 9px;
  }

  .index-bawah {
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    gap: 0px 8px;
    width: 541px;
    height: 17px;
    padding-left: 4.73px;
    padding-right: 4.73px;
    padding-top: 2px;
    padding-bottom: 2px;

    background-color: #F8F8F8;

    text-align: center;
    justify-content: center;
  }

  .date-container {
    padding-left: 2.5px;
    display: flex;
    width: 145px;
    height: auto;
    background-color: #F8F8F8;
    align-items: center;
  }

  .month-reflection-grid {
    padding-top: 37px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px 22.39px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
  }

  .month-reflection-container {
    height: 150px;
    padding-top: 9px;
    background-color: #F8F8F8;
    border-top: 1px solid #333333;
  }

  .index-kolom5 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 140px;
    margin-left: 45px;
    height: 12px;
    margin-top: 9px;
  }

  .header-kolom3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-teks {
    font-weight: medium;
    font-size: 4.55px;
    color: #333333;
    font-family: "Action Sans", sans-serif;
    @apply text-center tracking-5;
  }

  .atas-container {
    margin-top: 35px;
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width of the container */
    height: auto; /* Maintain aspect ratio */
  }

  .checkin-container {
    margin-top: 30px;
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width of the container */
    height: auto; /* Maintain aspect ratio */
  }

  .checkin-container2 {
    margin-top: 22px;
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width of the container */
    height: auto; /* Maintain aspect ratio */
  }

  .checkin2-container {
    margin-top: 45px;
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width of the container */
    height: auto; /* Maintain aspect ratio */
  }

  .month-overview-container {
    margin-top: 22px;
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width of the container */
    height: auto; /* Maintain aspect ratio */
  }

  .month-finance-container {
    margin-top: 20px;
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width of the container */
    height: auto; /* Maintain aspect ratio */
  }

  .week-container {
    margin-top: 35px;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }

  .meal-container {
    margin-top: 20px;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }

  .scale-svg {
    width: 20%;
    height: auto;
    border: 1px solid black;
  }

  .bawah-container {
    display: inline-block; /* Ensures it doesn't disturb block elements */
    width: 100%; /* Adjust width as needed */
    max-width: 200px; /* Maximum width of the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 100px;
  }

  .layer1,
  .layer2 {
    grid-column: 1;
    grid-row: 1;
  }

  .sidebar-text {
    position: relative;
    transform: translateX(0%) rotate(90deg);
  }
  .kotak-aktif {
    width: 100%;
    height: 75px;
    border-radius: 0 30px 30px 0;
    border-right: 0px solid #EFEFEF;  /* Left border */
    border-top: 0.5px solid #EFEFEF;   /* Top border */
    border-bottom: 2px solid #EFEFEF; /* Right border */
    border-left: 0px solid #EFEFEF;
    position: relative;
    background-color: #FFFFFF;
  }
  .kotak-non-aktif {
    width: 100%;
    height: 75px;
    border-right: 0px solid #EFEFEF;  /* Left border */
    border-top: 0.5px solid #EFEFEF;   /* Top border */
    border-bottom: 2px solid #EFEFEF; /* Right border */
    border-left: 1px solid #EFEFEF;
    background-color: #FFFFFF;
    border-radius: 0 30px 30px 0;
    position: relative;
  }

  .svg-baru-banget {
    margin-top: 28.5px;
  }
  .grid-baru {
    display: grid;
    margin-top: -41.5px;
  }
}
